.body {
  background-color: rgb(155, 20, 20);
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Alto de toda la ventana */
  margin: 0;
}
